<h1>Listing experiments</h1>

<table class="table table-striped table-bordered table-hover">
  <tr>
    <th>id</th>
    <th>Start Time</th>
    <th>Datapoints</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @experiments.each do |experiment| %>
	<% if !experiment.datapoints.empty? %>
	  <tr>
	    <td><%= experiment.id %></td>
	    <td><%= experiment.startTime %></td>
	    <td><%= experiment.datapoints.count %></td>
	    <td><%= button_to "Show", experiment, {:method => :get }%> </td>
	    <td><%= button_to "Raw Data", raw_data_path(experiment) %></td>
	    <td><%= button_to "Excel", raw_data_path(experiment, format: "xls")%></td>
	  </tr>
	 <% end %>
<% end %>
</table>

<br />

